<div *ngIf="artisti">
    <header class="artisti-header">
        <div *ngIf="artisti.images.length > 0">
            <img class="artisti-thumb img-circle" src="{{artisti.images[0].url}}">    
        </div>
        <h1>{{artisti.name}}</h1>
        <p *ngIf="artisti.genres.length > 0">
            Genres: <span *ngFor="let genre of artisti.genres">{{genre}}</span>
        </p>
    </header> 

      <div class="artistin-albumit">
         <div class="row">
            <div *ngFor="let albumi of albumit">
              
                <div class="col-sm-3">
                    <div class="well album">
                        <div *ngIf="albumi.images.length > 0">
                            <img class="album-thumb img-thumbnail" src="{{albumi.images[0].url}}">    
                            <h4>{{albumi.name}}</h4>
                            <a class="btn btn-default btn-block"  routerLink="/album/{{albumi.id}}"> Albumin tiedot</a>
                        </div>   
                     </div>    
                </div>
                 

            </div>
         </div>
      </div>
</div>




<!-- 

  <h2> {{artisti.name}}</h2>

 -->