
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <!-- katso huom alhaalta   -->
          <a class="navbar-brand"  routerLink="/welcome">Spotify app</a>
           </div>

        <div class="collapse navbar-collapse" id="navbar"  name="navbar">
            <ul class="nav navbar-nav">
              <li> <a routerLink="/search"> Haku</a> </li>
              <li> <a routerLink="/about"> Tietoa</a> </li>
          </ul>
        </div>
      </div>
    </nav>

<!--
Huom 

jos käytetään routing.ts tiedossa  Welcome-kompon uudelleen ohjausta voidaan käytää  
<a class="navbar-brand" routerLink="welcome">Spotyfy app</a> 
   Tämä tapa tosin toimii nytkin. 
   Ero:Lataa welcome sivun uudestaan palvelimelta(reload) kun painetaan linkkiä 
   Nyt Angular vain vaihtaa komponentin,  eikä lataa sitä palvelimelta 


  -->