<app-navbar>    </app-navbar>

<div class="container">
    <router-outlet> </router-outlet>
</div>
<div class="container">




<!--
  <footer class="panel-footer">
   <p> <span class="text-muted">Tekijä: Petri Lamminaho</span> </p>
   <p> <span class="text-muted"> Ota yhteytta: lammpe77@gmail.com </span> </p>    
  </footer> -->
<nav class = "navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
       <div class="navbar-text pull-left">
            <p> &copy; 2017 Petri Lamminaho </p>
        </div>
       </div>
    </nav>


</div>

